#design-page1,#development-page2,#production-page3{
	display: none;
}
.what-we-do{
	text-align: center;
}
.what-we-do h4{
	margin-top: 6px;
}
.form1{
	margin-top: 30px;
}
h3{
	text-align: center;
}
.logo {
	background-image: url("../images/h_img.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	width: 105%;
	height: 700px;
	text-align: center;
	padding: 200px;
	color: white;
}
p {
	text-align: center;
}
.services {
	background-image: url("../images/s_image.jpg");
	background-size: cover;
	height: 250px;
	text-align: center;
	color: white;
	padding: 105px;
}

h1 {
	color: white;
	text-align: center;
	padding-top: 30px;
}

.logo img:last-child {
	padding: 160px;
}
h2 {
	text-align: center;
}
.about {
	text-align: center;
}
body {
	font-family: Arial, Helvetica, sans-serif;
}
.d {
	text-align: center;
	height: 250px;
}
.col-space {
	margin-top: 20px;
	margin-bottom: 20px;
}

#mouse {
	padding: 2%;
}
#icon {
	padding: 2%;
}
h6 {
	padding: 2%;
}
#imgtext1 {
	position: absolute;
	top: 0;
	left: 100;
	width: 100%;
	height: 100%;
	transition: 5s;
	color: darkred;
	background-color: rgba(255, 255, 255, 0.4);
	font-size: 20px;
}
h5 {
	text-align: center;
}
#imgtext1 h5 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
}
#imgtext2 {
	position: absolute;
	top: 0;
	left: 100;
	width: 100%;
	height: 100%;
	transition: 5s;
	color: darkred;
	background-color: rgba(255, 255, 255, 0.7);
}

#imgtext2 h5 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
}

#imgtext3 {
	position: absolute;
	top: 0;
	left: 100;
	width: 100%;
	height: 100%;
	transition: 5s;
	background-color: rgba(255, 255, 255, 0.4);
	color: darkred;
}
#imgtext3 h5 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
}

#imgtext4 {
	position: absolute;
	top: 0;
	left: 100;
	width: 100%;
	height: 100%;
	transition: 5s;
	color: darkred;
	background-color: rgba(255, 255, 255, 0.4);
}
#imgtext4 h5 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
}
#imgtext5 {
	position: absolute;
	top: 0;
	left: 100;
	width: 100%;
	height: 100%;
	transition: 5s;
	color: darkred;
	background-color: rgba(255, 255, 255, 0.4);
}
#imgtext5 h5 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
}
#imgtext6 {
	position: absolute;
	top: 0;
	left: 100;
	width: 100%;
	height: 100%;
	transition: 5s;
	background-color: rgba(255, 255, 255, 0.4);
	color: darkred;
}
#imgtext6 h5 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
}

#imgtext7 {
	position: absolute;
	top: 0;
	left: 100;
	width: 100%;
	height: 100%;
	transition: 5s;
	background-color: rgba(255, 255, 255, 0.4);
	color: darkred;
}
#imgtext7 h5 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
}
#imgtext8 {
	position: absolute;
	top: 0;
	left: 100;
	width: 100%;
	height: 100%;
	transition: 5s;
	background-color: rgba(255, 255, 255, 0.4);
	color: darkred;
}
#imgtext8 h5 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
}
.hover {
	position: relative;
	overflow: hidden;
}
.imgtext {
	display: none;
	opacity: 1;
	color: aliceblue;
	font: 700;
	font-family: "Courier New", Courier, monospace;
}

.img-thumbnail {
	border: none;
}
.form1 {
	background-image: url("../images/c_image.jpg");
	background-size: cover;
	height: 500px;
	width: 100%;
}
#transparent {
	background-color: transparent;
}
textarea {
	width: 100%;
	height: 200px;
	color: white;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}
#jambo ::placeholder {
	color: white;
}
#jambo input {
	color: white;
	background-color: transparent;
}
.icon {
	padding: 20px;
}
