.logo {
	background-image: url("../images/h_img.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	width: 105%;
	height: 700px;
	text-align: center;
	padding: 200px;
	color: white;
}
p {
	text-align: center;
}
.services {
	background-image: url("../images/s_image.jpg");
	background-size: cover;
	height: 250px;
	text-align: center;
	color: white;
	padding: 105px;
}

h1 {
	color: white;
	text-align: center;
	padding-top: 30px;
}

.logo img:last-child {
	padding: 160px;
}
h2 {
	text-align: center;
}
.about {
	text-align: center;
}
body {
	font-family: Arial, Helvetica, sans-serif;
}
.d {
	text-align: center;
	height: 250px;
}
.col-space {
	margin-top: 20px;
	margin-bottom: 20px;
}
#container {
	padding: 2%;
}
#name[type="text"] {
	background: transparent;
	border-color: white;
	color: whitesmoke;
}
#email1[type="email"] {
	background: transparent;
	border-color: white;
	color: whitesmoke;
}
#message {
	background: transparent;
	border-color: white;
	color: whitesmoke;
}
input[type="email"]::-webkit-input-placeholder {
	color: white !important;
}
input[type="text"]::-webkit-input-placeholder {
	color: white !important;
}
textarea::-webkit-input-placeholder {
	color: white !important;
}
#mouse {
	padding: 2%;
}
#icon {
	padding: 2%;
}
h6 {
	padding: 2%;
}
#imgtext1 {
	position: absolute;
	top: 0;
	left: 100;
	width: 100%;
	height: 100%;
	transition: 5s;
	color: darkred;
	background-color: rgba(255, 255, 255, 0.4);
	font-size: 20px;
}
h5 {
	text-align: center;
}
#imgtext1 h5 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
}
#imgtext2 {
	position: absolute;
	top: 0;
	left: 100;
	width: 100%;
	height: 100%;
	transition: 5s;
	color: darkred;
	background-color: rgba(255, 255, 255, 0.7);
}

#imgtext2 h5 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
}

#imgtext3 {
	position: absolute;
	top: 0;
	left: 100;
	width: 100%;
	height: 100%;
	transition: 5s;
	background-color: rgba(255, 255, 255, 0.4);
	color: darkred;
}
#imgtext3 h5 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
}

#imgtext4 {
	position: absolute;
	top: 0;
	left: 100;
	width: 100%;
	height: 100%;
	transition: 5s;
	color: darkred;
	background-color: rgba(255, 255, 255, 0.4);
}
#imgtext4 h5 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
}
#imgtext5 {
	position: absolute;
	top: 0;
	left: 100;
	width: 100%;
	height: 100%;
	transition: 5s;
	color: darkred;
	background-color: rgba(255, 255, 255, 0.4);
}
#imgtext5 h5 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
}
#imgtext6 {
	position: absolute;
	top: 0;
	left: 100;
	width: 100%;
	height: 100%;
	transition: 5s;
	background-color: rgba(255, 255, 255, 0.4);
	color: darkred;
}
#imgtext6 h5 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
}

#imgtext7 {
	position: absolute;
	top: 0;
	left: 100;
	width: 100%;
	height: 100%;
	transition: 5s;
	background-color: rgba(255, 255, 255, 0.4);
	color: darkred;
}
#imgtext7 h5 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
}
#imgtext8 {
	position: absolute;
	top: 0;
	left: 100;
	width: 100%;
	height: 100%;
	transition: 5s;
	background-color: rgba(255, 255, 255, 0.4);
	color: darkred;
}
#imgtext8 h5 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
}
.hover {
	position: relative;
	overflow: hidden;
}
.imgtext {
	display: none;
	opacity: 1;
	color: aliceblue;
	font: 700;
	font-family: "Courier New", Courier, monospace;
}

.img-thumbnail {
	border: none;
}
#top1 {
	background-image: url(../images/c_image.jpg);
	background-size: cover;
	color: aliceblue;
}
.row {
	width: 90%;
	margin: 0 auto;
	justify-content: center;
}
#design-picture,
#development-picture,
#production-picture {
	display: none;
}
